USE [master]
GO
/****** Object:  Database [BDNOMINA2020]    Script Date: 13/11/2020 04:48:35 p. m. ******/
CREATE DATABASE [BDNOMINA2020]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BDNOMINA2020', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\BDNOMINA2020.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BDNOMINA2020_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\BDNOMINA2020_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BDNOMINA2020].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BDNOMINA2020]
GO
/****** Object:  Table [dbo].[departamento]    Script Date: 13/11/2020 04:48:35 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[departamento](
	[departamentoId] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[descripcion] [varchar](100) NOT NULL,
	[create_at] [date] NOT NULL,
	[update_at] [date] NOT NULL,
 CONSTRAINT [PK_departamento] PRIMARY KEY CLUSTERED 
(
	[departamentoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[empleado]    Script Date: 13/11/2020 04:48:35 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[empleado](
	[numEmpleado] [int] IDENTITY(1,1) NOT NULL,
	[nombres] [varchar](100) NOT NULL,
	[apellidos] [varchar](100) NOT NULL,
	[direccion] [varchar](100) NOT NULL,
	[telefono] [varchar](50) NOT NULL,
	[inicio] [date] NOT NULL,
	[status] [varchar](50) NOT NULL,
	[departamentoId] [int] NOT NULL,
	[create_at] [date] NOT NULL,
	[update_at] [date] NOT NULL,
 CONSTRAINT [PK_empleado] PRIMARY KEY CLUSTERED 
(
	[numEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nomina]    Script Date: 13/11/2020 04:48:35 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nomina](
	[nominaId] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](100) NOT NULL,
	[inicio_n] [date] NOT NULL,
	[fin_n] [date] NOT NULL,
	[status] [varchar](50) NOT NULL,
 CONSTRAINT [PK_nomina] PRIMARY KEY CLUSTERED 
(
	[nominaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nominaEmpleado]    Script Date: 13/11/2020 04:48:35 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nominaEmpleado](
	[nominaEmpleadoId] [int] IDENTITY(1,1) NOT NULL,
	[nominaId] [int] NOT NULL,
	[numEmpleado] [int] NOT NULL,
	[status] [varchar](100) NOT NULL,
	[diasTrabajado] [int] NOT NULL,
	[sueldo] [decimal](18, 2) NOT NULL,
	[vales] [decimal](18, 2) NOT NULL,
	[create_at] [date] NOT NULL,
 CONSTRAINT [PK_nominaEmpleado] PRIMARY KEY CLUSTERED 
(
	[nominaEmpleadoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tabulador]    Script Date: 13/11/2020 04:48:35 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tabulador](
	[tabuladorId] [int] IDENTITY(1,1) NOT NULL,
	[sueldo] [decimal](18, 2) NOT NULL,
	[primaVacacional] [decimal](18, 2) NOT NULL,
	[aguinaldo] [int] NOT NULL,
	[vales] [decimal](18, 2) NULL,
	[vacaciones] [int] NOT NULL,
	[numEmpleado] [int] NOT NULL,
 CONSTRAINT [PK_tabulador] PRIMARY KEY CLUSTERED 
(
	[tabuladorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 13/11/2020 04:48:35 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[userId] [int] IDENTITY(1,1) NOT NULL,
	[userName] [varchar](100) NOT NULL,
	[pass] [varchar](50) NOT NULL,
	[isActive] [binary](50) NOT NULL,
 CONSTRAINT [PK_user] PRIMARY KEY CLUSTERED 
(
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT INTO [dbo].[user]
           ([userName]
           ,[pass]
           ,[isActive])
     VALUES
           ('admin', 'admin123', 1)
GO
ALTER TABLE [dbo].[empleado]  WITH CHECK ADD  CONSTRAINT [FK_empleado_departamento] FOREIGN KEY([departamentoId])
REFERENCES [dbo].[departamento] ([departamentoId])
GO
ALTER TABLE [dbo].[empleado] CHECK CONSTRAINT [FK_empleado_departamento]
GO
ALTER TABLE [dbo].[nominaEmpleado]  WITH CHECK ADD  CONSTRAINT [FK_nominaEmpleado_nomina] FOREIGN KEY([nominaId])
REFERENCES [dbo].[nomina] ([nominaId])
GO
ALTER TABLE [dbo].[nominaEmpleado] CHECK CONSTRAINT [FK_nominaEmpleado_nomina]
GO
ALTER TABLE [dbo].[tabulador]  WITH CHECK ADD  CONSTRAINT [FK_tabulador_empleado] FOREIGN KEY([numEmpleado])
REFERENCES [dbo].[empleado] ([numEmpleado])
GO
ALTER TABLE [dbo].[tabulador] CHECK CONSTRAINT [FK_tabulador_empleado]
GO
USE [master]
GO
